* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	text-decoration: none;
	list-style: none;
}
.logo {
	background-color: none;
	width: 15%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.graficlogo {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
	width:90px; 
	height:90px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
nav {
	margin: auto;
	width: 1000px;
	height: 20px;
	text-align: center;
}
.pad {
	background-color: orange;
	font-size: 24px;
	margin: 20px;
}
.pad a{
	color: black;
	text-align: center;
	padding: 14px 20px;
	font-size: 17px;
}
.pad a:hover{
	border-bottom: 2px solid orange;
}
.bg {
	margin: 10px;
	height: 400px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
h1 {
	font-size: 30px;
	margin-top: 50px;
	text-align: center;

}
footer	{
	width: 100%;
	height: auto;
	background-color: orange;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;

}
.topicon {
	width: 30px;
}
footer a {
	color:black;
	font-size: 14px;
	margin-left: 10px;
}
footer nav a:hover {
	border-bottom: 1px solid black;
}
.soc img {
	margin-left: 10px;
	margin-bottom: 10px;
}
.soc img:hover {
	background-color: black;
	border-radius: 50%;
}
.gl {
	width: 100%;
	margin: 30px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	margin-left: 150px;
}
.photo {
	width: 25%;
	margin: 10px;
	border: 1px solid orange;
}
.photo img {
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.7;
}
.photo img:hover{
	opacity: 1;
}
.name {
	text-align: center;
	opacity: 0.7;
}
.name:hover{
	opacity: 1;
}
.photo a{
	color: black;
}
.contact {
	text-align: center;
	display: block;	
	margin-top: 50px;
	margin-bottom: 100px;
}
.contact img{
	width: 30px;
}
.about {
	text-align: center;
	margin-top: 30px;
}
.about p {
	font-size: 30px;
}
.ab {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 100px;
}
.gl1 {
	width: 100%;
	margin: 30px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.photo1 {
	width: 400px;
	margin: 10px;

}
.photo1 img {
	box-sizing: border-box;
	max-width: 100%;
}
.name1 {
	text-align: center;
	color: black;
}
.inf {
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
}
.minf {
	margin: 30px;
	text-align: left;
}
.minf img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.a {
	text-align: right;
	margin: 45px;
}
.form {
	width: 50%;
	margin: 50px auto;
}
.feedback-input {
	color: orange;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background-color: white;
	padding: 13px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid orange;
}
textarea {
	width: 100%;
	height: 150px;
	resize: vertical;
}
.button-submit {
	float: left;
	width: 100%;
	border:0px;
	cursor: pointer;
	background-color: orange;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}
.button-submit:hover{
	background-color: white;
	color: orange;
	border:1px solid orange;
}
.ease {
	width: 0px;
	height: 74px;
	background-color: white;
	transition: 0.3s ease;
}